---
import Layout from "../layouts/Layout.astro";
import Experience from "../content/collection/Experience.md";
import ProjectList from "../components/ProjectList.astro";
import Technologies from "../components/Technologies.astro";
---

<Layout title="Elias Currihuil">
  <div class="prose prose-invert" style={{ width: "100%" }}>
    <Experience />
  </div>

  <Technologies />

  <ProjectList />
</Layout>
