---
import { me } from "../models/me";
---

<header class="w-full px-2 py-8 header">
  <picture class="[grid-area:picture]">
    <img
      class="h-full w-full object-cover rounded-lg"
      src="https://imgs.search.brave.com/Ky7Lb7slSqLkchIHTVN29P6PTQSnV2JaNokP9a5_vec/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jdXRl/d2FsbHBhcGVyLm9y/Zy8yMi9pdGFjaGkt/bWFuZ2EtZGVza3Rv/cC13YWxscGFwZXJz/L2ZyZWUtZG93bmxv/YWQtbmFydXRvLXVj/aGloYS13YWxscGFw/ZXJzLTE2MDB4MTIw/MC1mb3IteW91ci1k/ZXNrdG9wLW1vYmls/ZS1hbXAtdGFibGV0/LWV4cGxvcmUtNzct/aXRhY2hpLXVjaGlo/YS13YWxscGFwZXIt/aXRhY2hpLXdhbGxw/YXBlcnMtaXRhY2hp/LXdhbGxwYXBlcnMt/aGQtaXRhY2hpLXVj/aGloYS1kZXNrdG9w/LXdhbGxwYXBlci5q/cGVn"
    />
  </picture>
  <div class="[grid-area:info] rounded-md flex flex-col justify-between gap-4">
    <div class="flex gap-4">
      <h1 class="text-white text-2xl font-bold">{me.name}</h1>
      <h4
        class="text-zinc-400 bg-slate-900/80 transition-all ease-in-out hover:bg-slate-800 px-2 py-1 rounded-lg"
      >
        aka {me.aka}
      </h4>
    </div>
    <div>
      <h2 class="[grid-area:desc] text-zinc-300">{me.description}</h2>
    </div>
    <div class="flex gap-4">
      {
        me.tags.map((tag) => (
          <span class="flex text-zinc-400 bg-slate-900/80 transition-all ease-in-out hover:bg-slate-800 px-2 py-1 rounded-lg cursor-pointer items-center">
            {" "}
            {tag}{" "}
          </span>
        ))
      }
    </div>
  </div>
</header>

<style>
  .header {
    height: auto;
    display: grid;
    grid-template-areas:
      "picture"
      "info"
      "desc"
      "tags";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }

  @media (min-width: 768px) {
    /* Ajusta este valor según tus necesidades */
    .header {
      display: grid;
      grid-template-areas:
        "picture info info"
        "picture info info"
        "picture info info";
      grid-template-columns: 200px 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 2rem;
      height: 250px;
    }
  }
</style>
