---
import { technologies } from "../models/technologies";
import { Icon } from "astro-icon";
import TechnologyItem from "./TechnologyItem.astro";
---

<section class="flex flex-col gap-4" id="technologies">
  <h2 class="text-zinc-300 font-semibold py-6 text-2xl flex gap-4 items-center">
    <span class="text-zinc-400"><Icon name="uil:code" size="36" /></span> Technologies
  </h2>

  <div class="flex flex-wrap gap-4 p-4">
    {
      technologies.map((technology) => (
        <TechnologyItem technology={technology} showLabel={true} />
      ))
    }
  </div>
</section>
