---
import { technologies } from "../models/technologies";
import { Icon } from "astro-icon";
---

<div class="flex flex-col gap-4">
  <h2 class="text-zinc-300 font-semibold py-6 text-xl">Technologies</h2>

  <div class="flex flex-wrap gap-4 p-4">
    {
      technologies.map((technology) => (
        <span class="flex justify-center items-center p-4 gap-4 text-zinc-400 bg-slate-900/60 transition-all ease-in-out hover:bg-slate-900 rounded-lg group">
          <span style={{ color: technology.color }}>
            <Icon name={technology.icon} size="24" />
          </span>
          <h3 class="group-hover:text-zinc-200"> {technology.name} </h3>
        </span>
      ))
    }
  </div>
  <hr class="flex border-t border-gray-600" />
</div>
